<form [formGroup]="BookFlight">
    <div>
    <div class="input-group mb-3">
      <span class="input-group-text" id="inputGroup-sizing-default">First Person Name</span>
      <input type="text" class="form-control" formControlName="FirstName" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
    </div>
    <div class="input-group mb-3">
      <span class="input-group-text" id="inputGroup-sizing-default">Second Person Name</span>
      <input type="text" class="form-control" formControlName="SecondName" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
    </div>
    <div class="input-group mb-3">
      <span class="input-group-text" id="inputGroup-sizing-default">Third Person Name</span>
      <input type="text" class="form-control" formControlName="ThirdName" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
    </div>
    <button type="button" class="btn btn-primary">Submit</button>
  </div>
</form>
